<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SumberComplang"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
        <!-- SplashActivity dijalankan pertama kali -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"
            android:launchMode="singleTask"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity sebagai aktivitas utama -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <!-- RegisterActivity sebagai aktivitas utama -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <!-- LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <!-- KolamActvity sebagai aktivitas utama -->
        <activity
            android:name=".KolamActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <!-- FormKolamActvity sebagai aktivitas utama -->
        <activity
            android:name=".FormKolamActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <!-- TiketActivity sebagai aktivitas utama -->
        <activity
            android:name=".TiketActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <!-- ScanTiket sebagai aktivitas utama -->
        <activity
            android:name=".ScanTiketActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <!-- FormTiketActivity sebagai aktivitas utama -->
        <activity
            android:name=".FormTiketActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <!-- TransaksiTiketActivity sebagai aktivitas utama -->
        <activity
            android:name=".TransaksiTiketActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <!-- TiketOfflineActivity sebagai aktivitas utama -->
        <activity
            android:name=".TiketOfflineActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".WebViewActivity" />
        <activity android:name=".DetailTransaksiActivity" />
        <activity android:name=".DetailKolamActivity" />


    </application>

</manifest>